@charset "utf-8";
	* {
	margin:0;
	padding:0
}
body,html {
	font-size:20px;
	font-family:"Microsoft Yahei","宋体",sans-serif;
	color:#fff
}

.header{
	text-align: center;
	height: 4rem;
	font-size: 1rem;
	color: black;
	line-height: 4rem;
}

.video-container{
	width: 16rem;
}